.container {
  display: inline-block;
  font-family: "Inter";
  font-size: 20px;
  margin: 16px;
  vertical-align: top;

  .label {
    text-align: left;
    display: block;
    margin-bottom: 10px;
    color: #e6e7e9;
    opacity: 80%;
  }

  .textInput {
    height: 66px;
    width: fit-content;
    min-width: min-content;
    max-width: 376px;

    border: 1px solid transparent;
    border-radius: 12px;
    background-color: rgba(#000000, 0.2);
    color: #e6e7e9;

    font-family: "Inter";
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 24px;
    padding-left: 24px;
  }

  input[type="text"] {
    font-size: 20px;
  }

  input[type="text"]:focus {
    outline: none !important;
    border: 1px solid #3267f0;
    border-radius: 12px;
    // shaddow
  }

  .error {
    background: rgba(255, 255, 255, 0.12);
    border: 1px solid #ff0000;
    border-radius: 12px;
  }

  .errorBox {
    position: relative;
    text-align: left;
    padding: 4px;
    color: red;
    font-size: 12px;
    font-family: "Inter", sans-serif;
    background: rgba(200, 10, 16, 0.28);
  }

  .errorArrow {
    width: 0;
    height: 0;
    border-left: 5px solid transparent;
    border-right: 5px solid transparent;

    border-bottom: 5px solid rgba(200, 10, 16, 0.28);
    margin-left: 20px;
  }
}
