.layout {
  background: #040c28;
  .pageContainer {
    width: 70%;
    max-width: 1057px;
    display: inline-block;

    .titleContainer {
      text-align: left;
      margin-bottom: 15px;
      .title {
        font-family: "Inter";
        font-size: 20px;
        color: #ffffff;
      }
      .numberOfIssues {
        padding: 3px 6px;
        margin-left: 13px;
        background: rgba(255, 255, 255, 0.1);
        border-radius: 20px;

        font-family: "Inter";
        font-style: normal;
        font-weight: 600;
        font-size: 14px;

        color: rgba(230, 231, 233, 0.5);
      }
    }

    .contentContainer {
      position: relative;
      overflow: auto;
      box-sizing: border-box;
      border: 1px solid rgba(255, 255, 255, 0.2);
      border-radius: 4px;
    }
  }
}
